server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tasks?createDatabaseIfNotExist=true
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

